# Environment variables - NEVER commit these
.env

# Dependencies
node_modules/

# Build folders
dist/
build/

# Uploads folder
uploads/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
.dockerignore
